#map {
	width: 400px;
	height: 400px;
	display: inline-block;
}
#streetView {
	height: 400px;
	width: 600px;
	display: inline-block;
	z-index: 0;
}
#directions-panel {
	width: 400px;
	height: 500px;
	display: none;
	overflow: auto;
	z-index: 1000;
}
#searchInterface {
	display: inline-block;
}